
.newpost {
   
    margin-top: 20px;
}

.newpost button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newpost button:hover {
    background-color: #0056b3;
}
.fullpage{
    display: flex;
   
}
.side{
   flex-grow: .3;
}
.post{
    
}