body{
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.login-box {
    width: 300px; 
    height: auto;
    max-width: 100%;
    backdrop-filter: blur(10px); 
    margin-left: 600px;
  }