.login-container{
    background-image: url("../images/register.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}
.login-box {
    width: 300px; 
    height: auto;
    max-width: 100%;
    backdrop-filter: blur(10px); 
  }